<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>COVID-19 Dashboard</title>
  </head>
  <body>
    <div class="container">
      <h1>COVID-19 Dashboard</h1>
      <h2>Willy Fang</h2>
    </div>
    <input type ="button" onclick="javascript:location.href='/import_data/'" value="更新最新資料（需花點時間）">
    </input>
    <h2>顯示covid19前10筆資料</h2>
    <table border="1" cellpadding="0" cellspacing="0">
        <th>國家中文名</th><th>國家英文名</th><th>確診數</th><th>死亡數</th><th>更新時間</th>
    {% for covid19_item in covid19_items %}
        <tr>
            <td>{{ covid19_item.country_ch }} </td>
            <td>{{ covid19_item.country_en }} </td>
            <td>{{ covid19_item.cases}} </td>
            <td>{{ covid19_item.deaths }} </td>
            <td>{{ covid19_item.updated_time }} </td>
        </tr>
    {% endfor %}
  </table>

    {% if messages %}
    <script>
      {% for msg in messages %}
          alert('{{ msg.message }}');
      {% endfor %}
    </script>
    {% endif %}
    

  </body>
</html>
